* {
    font-family: 'Lato', sans-serif;
}

#hp_top {
    height: 100vh;
    background-image: url(../Img/bg_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.navbar-nav {
    line-height: 50px;
}

.nav-item {
    font-weight: 700;
    font-size: 10pt;
    margin-right: 4em;
}

.navbar-nav.navbar-center {
    margin-left: auto;
    margin-right: auto;
}

#hp-intro {
    padding-top: 60px;
    font-size: 1em;
    text-align: center;
    background-color: rgb(247, 247, 247);
    padding-bottom: 60px;
    img {
        padding: 30px;
        display: block;
        margin: 0 auto;
    }
    h5 {
        word-spacing: 0.25em;
        padding-bottom: 1em;
    }
    p {
        margin-left: 8em;
        margin-right: 8em;
        color: lighten($color: #000000, $amount: 60%)
    }
}

@media only screen and (min-width: 768px) {
    #nav_bar {
        background-color: rgba(247, 247, 247, 0) !important;
    }
}

@media only screen and (max-width: 710px) {
    #hp-intro {
        p {
            margin-left: 1em;
            margin-right: 1em;
        }
    }
}

#vintage_oliva_1 {
    height: 75vh;
    background-image: url(../Img/vintage_oliva_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    place-content: center;
    img {
        height: 5em;
    }
}

#vintage_oliva_2_text {
    height: 50%;
    margin-top: 30px;
    font-size: 0.9em;
    background-color: #ffff;
    img {
        padding: 20px;
        display: block;
        margin: 0 auto;
    }
    h5 {
        word-spacing: 0.25em;
        text-align: center;
    }
    p {
        margin-left: 2em;
        margin-right: 2em;
        color: lighten($color: #000000, $amount: 60%);
        text-align: justify;
        text-align-last: left;
    }
}

#vintage_oliva_2_img {
    height: 50%;
    background-image: url(../Img/vintage_oliva_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

@media only screen and (max-width:767px) {
    #vintage_oliva_2_text {
        height: 50%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #vintage_oliva_2_img {
        height: 20em;
    }
}